body {
  font-family: sans-serif;
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 5px 10px 10px grey;
}

.wiki-content {
  padding: 3px;
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-flow: row-reverse;
  }

  .wiki-text {
    max-width: 50%;
    min-width: 50%;
  }

  .img-container {
    max-width: 50%;
    min-width: 50%;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
